@import url('https://fonts.cdnfonts.com/css/taller');

.App {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container {
  /* background-color: rgb(248, 77, 15);
  color: rgb(241, 176, 153); */
  max-width: 1510px;
  margin: 0 auto;
  /* font-family: 'taller', sans-serif; */



}